.SignUp__Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFEBC9;
    height: 100vh;
}

.SignUp__Container h1 {
    color: #753422;
    font-family: 'Poppins', sans-serif;
}

.SignUp__Container label {
    color: #e08a58;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.SignUp__Btn {
    margin-top: 20px;
    color: white;
    width: "20rem";
    padding: 0.75rem 1.2rem;
    background: #e08a58;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid rgb(178, 128, 0);
}

.SignUp__Btn:hover {
    background: #b46c43;
        color: white;
        border: 1px solid black;
}