.Price__Container {
    display: flex;
    flex-direction: column;
}
.Price__Form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
    width: 50rem;
}

.Price__Container label {
    margin-top: 45px;
    font-size: 20px;
    color: #FFEBC9;
}

.Price__Container input {
    width: 100%;
    padding: 8px 16px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.Price__Btn {
    background-color: #D79771;
    color: black;
    padding: 12px 20px;
    border: none;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.Price__Btn:hover {
    background-color: #f1b685;
}