
.Price__Btn {
    background-color: #D79771;
    color: black;
    padding: 12px 20px;
    border: none;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    width: 30%;
}

.Price__Btn:hover {
    background-color: #f1b685;
}


.my-form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto ;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  
  .form-col {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 20px;
  }
  
  .form-col:last-child {
    margin-right: 0;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  .text {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 10px;
  }