.SignIn__Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFEBC9;
    height: 100vh;
}

.SignIn__Container h1 {
    color: #753422;
    font-family: 'Poppins', sans-serif;
}

.SignIn__Container label {
    color: #e08a58;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.SignIn__Btn {
    margin-top: 20px;
    width: "20rem";
    color: white;
    background: #e08a58;
    padding: 0.75rem 1.2rem;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid rgb(178, 128, 0);
}

.SignIn__Btn:hover {
    background: #b46c43;
    color: white;
    border: 1px solid black;
}