.container {
    height: 70px;
    /* background-color: #B05B3B; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header__Left {
    display: flex;
    flex-direction: row;
}

.Header__Left h2 {
    font-family: 'Ysabeau', sans-serif;
}
